<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal website</title>
    <link rel="stylesheet/css" type="text/css" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script> -->

</head>

<body>
    <div id="app">
        <b> {{ message | toUpperCase }}</b>
        <project-details v-bind:model="itemDetails" v-if="itemDetails"></project-details>
        <img width="200px" src="http://drive.google.com/uc?export=view&id=1Uydw1mGHwo134dmoT0fdj5B8HQGCZRgf">
        <video width="400" controls>
            <source src="http://drive.google.com/uc?export=view&id=1PgWkyemCGorGcBXF90HVh2fpsCQJM1IY" type="video/mp4">
            Your browser does not support HTML video.
          </video>
        <div class="projects">
            <div class="project" v-on:click="itemDetails = project" v-for="project in projects">
                {{_.get(project,'projectinfo.title')}}
            </div>
        </div>
    </div>
    <script src="main.js"></script>


</body>

</html>
https://drive.google.com/open?id=

